.nav {
  display: block;
  border-right: 1px solid var(--border);
  height: calc(100vh - 65px);
  box-sizing: border-box;
  width: 20vw;
  padding: 20px 30px;
  background-color: var(--mainBackground);
}

.nav button,
.nav select {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  background-color: var(--taskBackground);
}

button.add-task {
  display: block;
  text-align: center;
  background-color: var(--main);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--font);
  cursor: pointer;
}

.add-task i {
  margin-right: 10px;
}

.nav button:hover,
.nav select:hover {
  cursor: pointer;
  filter: brightness(90%);
}

button.active{
    background-color: var(--check);
}
